body {
    background-image: url('../img/1722.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

form.d-flex.mb-4 input {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 5px; 
    color: #000000; 
    padding: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(5px); 
}

form.d-flex.mb-4 input::placeholder {
    color: rgba(0, 0, 0, 0.5); 
}


form.d-flex.mb-4 button {
    background: rgba(255, 255, 255, 0.5); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 5px; 
    color: #000000; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background 0.3s ease, color 0.3s ease; 
}

form.d-flex.mb-4 button:hover {
    background: rgba(255, 255, 255, 0.8); 
    color: #007bff; 
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent; 
    padding: 10px 20px;
}

.settings-menu {
    position: relative;
    display: inline-block;
}


.settings-icon {
    font-size: 28px;
    cursor: pointer;
    color: #141413;
    transition: transform 0.3s ease;
}

.settings-icon:hover {
    color: #007bff;
    transform: rotate(90deg);
}


.settings-options {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    z-index: 1000;
}


.settings-options li {
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Centra los íconos horizontalmente */
    align-items: center; /* Centra los íconos verticalmente */
}

.settings-options li a, .settings-options li button {
    text-decoration: none;
    color: #131418;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.settings-options li:hover {
    background-color: #968383;
}

/* Mostrar el menú al hacer clic */
.settings-menu.active .settings-options {
    display: block;
}