# Ignore entornos virtuales
env/
venv/
ENV/
VENV/

# Ignore pycache y archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Ignore configuraciones de entorno
*.env
.env/

# Ignore archivos de configuración de editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore archivos de sistema
.DS_Store
Thumbs.db

# Ignore carpetas de migraciones vacías (opcional)
**/migrations/*.pyc
**/migrations/__pycache__/

# Ignore coverage report
htmlcov/
.coverage

# Ignore archivos de logs
*.log
